commands:
  01_mkdir_webapp_dir:
    test: 'mkdir /home/webapp'
    command: 'ls -la /home/webapp'
  02_chown_webapp_dir:
    command: 'chown webapp:webapp /home/webapp'
  03_chmod_webapp_dir:
    command: 'chmod 700 /home/webapp'
  04_compile_assets:
    command: 'bundle exec rake assets:precompile webapp'
