/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require colors
 */

html, body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}


.title_box {
	border-top: medium solid #ff8f87;
	width: 100%;
	height: 5rem;
	box-shadow: 0rem 0.1rem 1rem rgba(0,0,0,0.1);
	position: relative;
	color: rgba(0,0,0,.8);
}

.title_box a {
	position: absolute;
	padding-left: 0.5rem;
	top: 25%;
	bottom: 25%;
	font-size: 36pt;
	text-decoration: none;
	color: inherit;
}

.alert {
	display: flex;
	background: rgba(214,42,42,0.05);
	color: rgba(214,42,42,0.85);
	font-style: italic;
}
