// Place all the styles related to the Uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
	text-decoration: none;
	color: inherit;
}

.device {
	box-shadow: 0rem 0rem 1rem rgba(0,0,0,0.1);
	width: 90%;
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto;
	position: center;
	display: flex;
	background: hsla(0, 100%, 90%, 0.1);
	flex-flow: row wrap;
}

#form_top_right_X {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14pt;
	height: 15%;
	width: 10%;
	color: rgba(0,0,0,0.3);
	flex-direction: right;
	margin-left: auto;	
}

#form_top_right_X:hover {
	background-color: rgba(0,0,0,0.1);
	color: rgba(0,0,0,1);
	cursor: pointer;
}

.upload_box {
	box-shadow: 0rem 0rem 1rem rgba(0,0,0,0.1);
	width: 90%;
	height: 80vh; 
	margin-top: 3rem;
	display: flex;
	flex-direction: right;
}

.upload_box div {
	width: 15rem;
	height: 10rem;
}

.upload_button {
	order: 2;
	margin-right: 1rem;
	margin-left: auto;
	background: rgba(61, 153, 112, 1); 
	height: 3rem;
	color: white;
        justify-content: center;
        border-radius: 0.25rem;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
}

.upload_button a {
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
}

.upload_button a:hover {
	cursor: pointer;
}

#form_box {
	box-shadow: 0rem 0rem 1rem rgba(0,0,0,0.1);
	display: flex;
	visibility: hidden;
	margin-top: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	height: 20vh;
	width: 90%;
	background: rgba(102, 191, 12, 0.25);
}

.index_box {
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.interface {
	width: 8em;
	height: 8rem;
	margin: 0.25rem;
	padding: 0.5rem;
	border: solid black;
	flex: 0 1 auto;
}

