
<div class="index_box">
	<% @uploads.each do |upload| %>
		<% if can? :read, upload %>	
		<div>
			<%= link_to upload.title, upload %>
		</div>
		<% end %>
	<% end %>
	<div id="form_box">
		<%= render :template => 'uploads/new' %>
	</div>
</div>


