<div>
	<% @test.each do |int| 
		int.xpath("./* ").each do |elem| 
			if (elem.name == "if-num") %>
				<div><%= elem.name %> <%= elem.content %></div>
			<% end %>
	<% end %>
	<br>
<% end %>
</div> 


